<div class="board">
    <section class="board-info">
        <div class="board-info-item">
            <button class="btn btn-danger m-3" (click)="remove()">
                Delete board <i class="fa fa-trash"></i>
            </button>
        </div>

        <h2 class="text-center m-3">{{ board.name }}</h2>

        <div class="board-info-item"></div>
    </section>

    <section class="task-list-grid">
        <div class="task-list-item">
            <i *ngIf="!isFormOn; else taskListForm" class="fa fa-plus" (click)="showForm()"></i>
    
            <ng-template #taskListForm>
                <app-task-list-form [boardId]="boardId" (change)="updateTaskLists($event)" (cancel)="closeForm($event)"></app-task-list-form>
            </ng-template>
        </div>

        <div class="task-list-item" *ngFor="let taskList of taskLists">
            <app-task-list [title]="taskList.name" [boardId]="boardId" [taskListId]="taskList.id"></app-task-list>
        </div>
    </section>
<div>