<app-kcard [bgColor]="selectColor">
    <form [formGroup]="newTaskForm" (submit)="saveForm()">
        <input formControlName="title" type="text" id="title" class="form-control my-2" placeholder="Title">
        <textarea class="form-control my-2" rows="3" formControlName="details" placeholder="details"></textarea>
        <select formControlName="color" (change)="selectColor = $event.target.value;" value="primary" name="color" class="form-control my-2" id="color">
            <option value="primary">Dark blue</option>
            <option value="info">Light blue</option>
            <option value="success">Green</option>
            <option value="warning">Yellow</option>
            <option value="danger">Red</option>
            <option value="secondary">Grey</option>
            <option value="dark">Black</option>
        </select>

        <div class="btn-group">
            <button class="btn btn-success" type="submit">{{ taskId !== null ? 'Save' : 'Create' }}</button>
            <button class="btn btn-danger" (click)="cancelForm();">Cancel</button>
        </div>
    </form>
</app-kcard>