<div class="task-list border rounded-lg">
    <section class="task-header border-bottom mb-3 px-3">
        <div class="d-flex justify-content-between align-items-center" *ngIf="!isEdit; else editList">
            <div class="drag-container">
                <ng-content></ng-content>
                <span class="fa fa-arrows-h"></span>
            </div>
            <h2 class="text-center" (dblclick)="toggleEditTaskList()">{{ title }}</h2>
            <div class="buttons d-flex flex-column">
                <span class="fa fa-edit mb-1" role="button" (click)="toggleEditTaskList()"></span>
                <span class="fa fa-remove" role="button" (click)="removeTaskList()"></span>
            </div>
        </div>
        <ng-template #editList>
            <form (submit)="changeTaskListTitle(listTitle.value)">
                <div class="input-group mt-2">
                    <input
                        #listTitle
                        type="text"
                        class="form-control"
                        [value]="title">
                    <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-danger" type="button" (click)="toggleEditTaskList()">Cancel</button>
                    </div>
                </div>
            </form>
        </ng-template>
    </section>
    <section class="task-body">
        <div class="tasks-list">
            <div class="task-item" [class.pb-3]="!isFormOn">
                <app-task *ngIf="!isFormOn; else newTaskForm" class="new-task" (click)="showForm()" bgColor="primary">New task <span class="fa fa-plus"></span></app-task>

                <ng-template #newTaskForm>
                    <div class="task-item">
                        <app-task-form [taskListId]="taskListId" [boardId]="boardId" (change)="updateTasks($event)" (cancel)="closeForm($event)"></app-task-form>
                    </div>
                </ng-template>
            </div>

            <div
                cdkDropList
                class="task-list-drag"
                [id]="'taskList_' + taskListId"
                [cdkDropListConnectedTo]="taskListsCdkIds"
                [cdkDropListData]="tasks"
                (cdkDropListDropped)="onTaskDrop($event)">
                <div
                    class="task-item"
                    *ngFor="let task of tasks"
                    cdkDrag>
                    <app-task
                        [bgColor]="task.color"
                        [title]="task.title"
                        [details]="task.details"
                        [canRemove]="true"
                        [canEdit]="true"
                        [boardId]="boardId"
                        [taskListId]="taskListId"
                        [taskId]="task.id"
                        (shouldUpdate)="reloadTasks()">
                    </app-task>
                </div>
            </div>
        </div>
    </section>
</div>