.task-list {
    background-color: #F5F5F5;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.new-task {
    cursor: pointer;
}

.task-header {
    height: 3rem;
    width: 100%;
}

.task-body {
    padding-bottom: 20px;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 10px;
    padding: 0 10px;
    overflow-y: auto;
    max-height: 440px;
}

.task-item {
    min-width: 20em;
}