<div class="task-list border rounded-lg">
    <section class="task-header border-bottom">
        <h2 class="text-center">{{ title }}</h2>
    </section>
    <section class="task-body">
        <div class="tasks-list">
            <div class="task-item">
                <app-task *ngIf="!isFormOn; else newTaskForm" class="new-task" (click)="showForm()" bgColor="primary">New task <span class="fa fa-plus"></span></app-task>

                <ng-template #newTaskForm>
                    <div class="task-item">
                        <app-task-form [taskListId]="taskListId" [boardId]="boardId" (change)="updateTasks($event)" (cancel)="closeForm($event)"></app-task-form>
                    </div>
                </ng-template>
            </div>

            <div
                cdkDropList
                [id]="'taskList_' + taskListId"
                [cdkDropListConnectedTo]="taskListsCdkIds"
                [cdkDropListData]="tasks"
                (cdkDropListDropped)="onTaskDrop($event)">
                <div
                    class="task-item"
                    *ngFor="let task of tasks"
                    cdkDrag>
                    <app-task
                        [bgColor]="task.color"
                        [title]="task.title"
                        [canRemove]="true"
                        [boardId]="boardId"
                        [taskListId]="taskListId"
                        [taskId]="task.id"
                        (wasDeleted)="reloadTasks()">
                        {{ task.details }}
                    </app-task>
                </div>
            </div>
        </div>
    </section>
</div>