<div class="boards-grid">
    <div class="board-item">
        <app-board *ngIf="!isFormOn; else boardForm" (click)="showForm()" class="new-board">
            New board <i class="fa fa-plus"> </i>
        </app-board>

        <ng-template #boardForm>
            <app-board-form (change)="updateBoards($event)" (cancel)="closeForm($event)"></app-board-form>
        </ng-template>
    </div>

    <div class="board-item" *ngFor="let board of boards">
        <a [routerLink]="['board', board.id]">
            <app-board [color]="board.color">{{ board.name }}</app-board>
        </a>
    </div>
</div>